.App-list {

    &-header {
        display: flex;
        height: 60px;
        border-bottom: 1px solid rgba(gray,.2);

        a {
            width: 33.3%;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: 100;
            opacity: .4;
            padding: 1em;

            border-right: 1px solid rgba(gray,.2);

            &:last-child {
                border: none;
            }
        }
    }

    &-body {
        padding: 1.5em 2em;
        max-height: 440px;
        overflow-y: scroll;

        .Anime-component {
            width: 100%;

            display: flex;
            align-items: stretch;
            justify-content: space-between;

            margin-bottom: 2em;

            &:last-child {
                margin-bottom: 0;
            }

            &-body {
                display: flex;
                align-items: stretch;

                img {
                    width: 3em;
                    height: 3em;
                    border-radius: 10em;
                    margin-right: 0.5em;
                }
                h4 {
                    font-weight: 400;
                }
                span {
                    font-weight: 100;
                    font-size: .8em;
                    color: rgba(white,.7);
                }
            }

            button {
                background-color: transparent;
                border: none;
                padding: 0;
                font-size: 1.4em;
                font-weight: 100;
                color: rgba(gray,.1);
                cursor: pointer;
                transition: color .2s ease-in-out;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}