@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

$first-color: #ff7e4e;
$second-color: #222;
$third-color: #fcfcfc;

* {
    box-sizing: border-box;
}

ul,body,h1,h2,h3,h4,h5,h6,p,li,span,header,section,figure {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
    object-fit: cover;
}

body {
    color: $third-color;
    background-color: $second-color;
    font-family: 'Ubuntu', sans-serif;
}

section {
    background-color: #111;
}

@mixin maximun-width {
    max-width: 1280px;
    margin: 0 auto;
}

@mixin soft-border {
    border-radius: 5px;
    overflow: hidden;
}

// common classes 

.now-listening-tag {
    display: none;
}

.App-link {
    @include soft-border;
    text-align: center;
    margin-right: 0.5em;
    font-size: 1.6em;
    color: gray;
    padding: 0.25em;

    &:hover {
        color: $first-color;
        transition: color .2s ease-in-out;
    }
}

.container {
    position: relative;
}